<div class="group">
    <span class="language-toggle closed" tabindex="0">
        <span lang-id="en" id="english-option" class="option active btn-cs-language" tabindex="0" aria-label="A button for English language">English</span>
        <span lang-id="es" id="spanish-option" class="option btn-cs-language" tabindex="0" aria-label="A button shows options for English and Espanol language">Espanol</span>
    </span>
    <button class="btn btn-primary btn-vol btn-audio-on btn-success" tabindex="0" aria-label="An audio button">
    </button>
    <button class="btn btn-primary btn-audio-caption btn-captions btn-success" tabindex="0" aria-label="A caption button">
    </button>

</div>
<div class="group group-center">
    <button class="btn btn-primary btn-playpause btn-play" tabindex="0" aria-label="A play button" style="display: inline-block;">
        <i class="icon"></i>
    </button>
    <button class="btn btn-lg btn-success btn-next saveBtn" id="nex_btn" tabindex="0" aria-label="A next button with a forward arrow">
        Next&nbsp;
        <i class="icon"></i>
    </button>

    <button class="btn btn-primary btn-done saveBtn disabled" tabindex="0" aria-label="A done buttton, with a tick mark" disabled>Done
        <i class="icon"></i>
    </button>
</div>
<div class="group">
    <button class="btn btn-primary btn-reset" tabindex="0" aria-label="A reset button" style="display: inline-block;">
    </button>
</div>
